#pg--my-collaborations {
  div.collaborations {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-content(space-around);
    width: 100%;
    height: 100%;
    padding-top: 1rem;
  }
  button.new-collaboration {
      width: 100px;
      margin: 2rem auto;
      display: block;
  }
  div.collaboration {
    display: inline-block;
    cursor: pointer; 
    flex-grow: 1;
    width: 50%;
    padding: 3%;
    img {
      width: 100%;
      // height: 200px;
      border-radius: 50%;
      border-width: 5px;
      border-color: $color-a;  
    }
    h2 {
      font-family: $title-font-family;
      color: $color-a;
      text-align: center;
      font-size: 1em;
    }
  }
}