#pg--my-collaborations {
  div.collaborations {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    margin: auto auto;
  }
  button.new-collaboration {
      width: 100px;
      margin: 4rem auto;
      display: block;
  }
  div.collaboration {
    display: inline-block;
    cursor: pointer; 
    width: 50vw;
    height: 50vw;
    padding: 3%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border-width: 5px;
      border-color: $color-a;  
    }
    h2 {
      font-family: $title-font-family;
      color: $color-a;
      text-align: center;
      font-size: 1em;
    }
  }
}