text-message, voice-message {
  & > div {
    position: relative;
    margin: auto 5% auto 5%;
    .platform-ios & {
      width: 95%;
      margin: auto auto;
    }
  }
  div.arrow-holder {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  div.arrow {
    width: 14px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
  }
  div.sender {
    padding: 15px 25px 25px 10px;
    div.arrow {
      right: 0;
    }
    div.arrow-holder {
      background-color: #DDD;
    }
  }
  div.reciever {
    padding: 1rem .75rem 1rem 1.5rem;
    div.arrow {
      left: 0;
    }
    div.arrow-holder {
      background-color: #CCC;
    }
  }
  p.date {
    text-transform: uppercase;
    font-size: .66em;
    color: #333;
    line-height: 0.75;
    margin-bottom: 1em;
  }
}

voice-message {
  display: block;
  svg.vm-play {
    display: block;
    z-index: 1;
    max-width: 600px;
    margin: auto auto;
  }
}