
// Import fonts!
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book/gotham-book.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gotham-Book/gotham-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gotham-Book/gotham-book.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gotham-Book/gotham-book.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gotham-Book/gotham-book.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gotham-Book/gotham-book.svg#Gotham') format('svg'); /* Legacy iOS */
    font-weight: normal;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/Futura-Bold/futurabold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Futura-Bold/futurabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Futura-Bold/futurabold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Futura-Bold/futurabold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Futura-Bold/futurabold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Futura-Bold/futurabold.svg#Futura-Bold') format('svg'); /* Legacy iOS */
    font-weight: bold;
}

// Variables
$title-font-family: 'Futura-Bold';
$body-font-family: 'Gotham';
$title-font-size: 22px;