<ion-view view-title="mis collaboraciones">
	<ion-nav-buttons side="left">
	 <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
	<button class="button button-block button-energized button-outline" ng-click="myCollaborations.logout()">Logout</button>

	<div ng-repeat="collaboration in collaborations">
		<div class="collaboration">
			<button class="button button-block button-balanced button-outline" ng-click="myCollaborations.collaboration(collaboration.$id)">{{ collaboration.name }}</button>
		</div>
	</div>

	<button class="newCollaboration" ng-click="myCollaborations.newCollaboration()">+</button>
	</ion-content>
</ion-view>