<ion-view id="pg_myCollaborations" view-title="mis collaboraciones">
	<ion-nav-buttons side="primary">
	 <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="collaborations">
			<div ng-repeat="collaboration in collaborations" class="collaboration" ng-click="myCollaborations.collaboration(collaboration.$id)">
			<img src="{{ myCollaborations.getCollaborationImage(collaboration) }}">
			<p class="title">
				{{ collaboration.name }}
			</p>
			<p class="unreadMessages">
				{{ myCollaborations.getNewMessages(collaboration) }}
			</p>
			</div>  
		</div>
		<!-- <button class="newCollaboration" ng-click="myCollaborations.newCollaboration()" nav-direction="forward">
			<i class="ion-plus"></i>
		</button> -->
		<button class="newCollaboration">
			<!-- <img src="img/add-button.svg" style="width: 100px"> -->
			<add-button></add-button>
		</button>
	</ion-content>
</ion-view>