<div style="padding: 0 10px">
<p>hey this is login</p>
<button class="button button-block button-positive button-outline" ng-click="login.authLogin('facebook')">Facebook</button>
<button class="button button-block button-assertive button-outline" ng-click="login.authLogin('google')">Googllle</button>
<button class="button button-block button-assertive button-outline" ng-if="!local" ng-click="login.showLocalLogin()">Email</button>
<form name="blah"></form>
<div ng-show="local" class="list">
	<form name="loginForm" no-validate class="localLoginForm" ng-submit="login.login()">
		<label class="item item-input">
			<input required type="text" ng-model="form.email" class="email" name="email" placeholder="Email"></input>
		</label>
		<label class="item item-input">
			<input required type="text" ng-model="form.password" class="password" name="password" placeholder="Password"></input>
		</label>
		<label ng-if="register" class="item item-input">
			<input type="text" ng-model="form.passRepeat" class="repeatPass" name="repeatPass" placeholder="Repeat Password"></input>
		</label>
		<button required ng-if="!register" class="button button-outline button-positive login" type="submit" >Login</button>
		<button type="button" ng-click="login.register()" class="button button-outline button-positive register">Register</button>
	</form>
</div>