<ion-view id="pg--thread" view-title="comentario">
	<ion-nav-buttons side="primary">
	 <button ng-click="thread.goBack()" class="ion-chevron-left">
	 </button>
	</ion-nav-buttons>
	<ion-content>
		<div class="messages">
			<div class="message" ng-repeat="message in messages">
				<text-message ng-if="message.type === 'text'" message="{{ message }}">
				</text-message>
				<voice-message ng-if="message.type === 'audio'">
				</voice-message>
			</div>
		</div>
		
	</ion-content>
	<div class="bar bar-footer choose">
		<form ng-submit="thread.sendMessage('text', textField.content)">
			<input ng-if="!recording" ng-blur="thread.notWriting()" ng-focus="thread.writing()"required ng-model="textField.content" class="text" placeholder="write a message" />
		<div class="buttons">
			<voice-message-record ng-if="!writing"></voice-message-record>
			<button class="send" type="submit" ng-if="writing" class="send">SEND</button>
		</div>
		</form>	
	</div>
	
</ion-view>
