<ion-view id="pg_thread" view-title="comentario">
	<ion-nav-buttons side="primary">
	 <button ng-click="thread.goBack()" class="ion-chevron-left">
	 </button>
	</ion-nav-buttons>
	<ion-content>
		<div class="messages">
			<div class="message" ng-repeat="message in messages">
				<text-message ng-if="message.type === 'text'" message="{{ message }}">
				</text-message>
				<voice-message ng-if="message.type === 'audio'">
				</voice-message>
			</div>
		</div>
		<div class="choose">
			<button voice-message-record class="voice" ng-click="thread.redcordNote()">
			</button>
			<button class="text" ng-click="thread.writeText()">		
			text
			</button>
		</div>
		<form ng-show="writeMessage" ng-submit="thread.sendMessage('text')">
		<p>{{ text }}</p>
			<input required ng-model="text" class="text" placeholder="write here" />
		</form>
	</ion-content>
</ion-view>
