<ion-view>
	<div>this is thread view</div>
	<div class="messages">
		<div class="message" ng-repeat="message in messages">
			<p ng-if="message.type === 'text'">
				{{ message.content }}
			</p>
		</div>
	</div>
	<div class="choose">
		<button class="voice" ng-click="thread.redcordNote()">
		voice
		</button>
		<button class="text" ng-click="thread.writeText()">		
		text
		</button>
	</div>
	<form ng-show="writeMessage" ng-submit="thread.sendMessage('text')">
		<input required ng-model="text" class="text" placeholder="write here" />
	</form>
</ion-view>