<ion-view id="pg--iteration" title="{{ collaboration.name }} - ">
	<ion-nav-buttons side="primary">
	 <button ng-click="iteration.goBack()" nav-direction="back" class="ion-chevron-left">
	 </button>
	</ion-nav-buttons>
	<div id="iterationBg">
		<p style="z-index: 999">
			{{ iterationArray }}
		</p>
		<canvas iteration-canvas></canvas>
		<img class="iteration-image" iteration-image ng-src="{{ image.$value }}" />
		<button add-button class="addIteration" ng-if="iteration.showAddIteration()" ng-click="iteration.addIteration()"></button>
		<button check-button class="check" ng-if="iteration.showCheck()" ng-click="iteration.done()"></button>
		<button class="previous" ng-if="previous" ng-click="iteration.previous()"> previous iteration </button>
		<button class="next" ng-if="next" ng-click="iteration.next()"> next iteration </button>
		<!-- <p>{{ colabits }} </p> -->
		<div ng-if="!iteration.hasThreads() && !instructionsRead" class="instructions">
				<h2>instrucciones</h2>
				<button class="ion-close" ng-click="iteration.readInstructions()"></button>
				<p>
					Toca sobre la imagen para agregar un comentario, puedes agregar multiples comentarios a tu imagen tocando los diferentes puntos donde quieras agregarlos.
				</p>
		</div>
		<drawing ng-repeat="thread in threads" id="{{ thread.$id }}" x="{{ thread.drawing.x }}" y="{{ thread.drawing.y }}">
		</drawing>
	</div>
</ion-view> 